
html{height: 100%;}
body{
  height: 100%;
  margin: 0;
}

div{
  box-sizing: border-box;
  overflow-y: auto;
}

div.firstline,
div.secondline,
div.thirdline,
div.fourthline,
div.fifthline
{
  display: block;
  margin: 0;
  padding: 0;
  /* border:1px solid black; */
  font-size: 0;
  height: 20%;
}

div.firstline>div,
div.secondline>div,
div.thirdline>div,
div.fourthline>div,
div.fifthline>div
{
  display: inline-block;
  font-size: 16px;
}

div[class^="column"]
{
  padding: 5px; 
}

div.secondline>div.column2,
div.thirdline>div.column2,
div.fifthline>div[class^="column"]
{
  padding: 0;
}

div[class^="row"]
{
  padding: 5px; 
}

/* --------------HEIGHT---------------*/
div.secondline>div.column1,
div.thirdline>div.column1,
div.thirdline>div.column3,
div.fifthline>div.column2,
div.fifthline>div.column1
{
  vertical-align: top; 
}

div.firstline>div,
div.secondline>div,
div.thirdline>div,
div.fourthline>div,
div.fifthline>div
{
  height: 100%;
}
div.secondline>div.column2 div,
div.fifthline>div.column1 div
{
  height:33.333333%;
}

div.thirdline>div.column2 div,
div.fifthline>div.column2 div
{
  height:50%;
}
div.fifthline>div.column3 div
{
  height:25%;
}


/* --------------WIDTH-------------------- */
div.firstline>div,
div.secondline>div.column2,
div.thirdline>div,
div.fourthline>div.column2,
div.fifthline>div
{
  width: 33.33333%;
}
div.secondline>div.column1,
div.fourthline>div.column1
{
  width: 66.66666%;
}


/* -------------COLORS----------------- */
div.firstline>div.column1,
div.secondline .row1,
div.fifthline>div.column1 .row1,
div.fifthline>div.column3 .row1,
div.fifthline>div.column3 .row4
{
  background-color: #FAEBD8;
}

div.firstline>div.column2,
div.secondline .row2,
div.thirdline>div.column3,
div.fifthline>div.column1 .row2,
div.fifthline>div.column3 .row2
{
  background-color: #F5F5DD;
}
div.firstline>div.column3,
div.secondline .row3,
div.thirdline>div.column1,
div.fifthline>div.column1 .row3,
div.fifthline>div.column3 .row3
{
  background-color: #FEE3C6;
}
div.secondline>div.column1,
div.fourthline>div.column1
{
  background-color: #FFF8DC;
}
div.thirdline>div.column2>div.row1,
div.fourthline>div.column2,
div.fifthline>div.column2 .row1
{
  background-color: #E5E6F8;
}
div.thirdline>div.column2>div.row2,
div.fifthline>div.column2 .row2
{
  background-color: #F1FFF0;
}