html{height: 100%;}
body{height: 100%;margin: 0;}
:root
{
--light-orange: #FAEBD8;
--green:#F5F5DD;
--orange: #FEE3C6;
--yellow: #FFF8DC;
--strong-orange: #E5E6F8;
--violet: #F1FFF0;
}

div{box-sizing: border-box;}

.column:first-child,.column:nth-child(2){float: left;}
.column:last-child{float: right;}

.column,.row{padding: 5px;}

.line:nth-child(2)>.column:nth-child(2),
.line:nth-child(3)>.column:nth-child(2),
.line:nth-child(5)>.column
{
  padding: 0;
}

/* --------------HEIGHT---------------*/
.line:nth-child(2)>.column:first-child
{
  height: 5.25rem;
}
.line:nth-child(3)>.column:first-child,
.line:nth-child(3)>.column:last-child
{
  height: 3.5rem;
}
.line:nth-child(5)>.column:first-child .row
{
  height: 2.4rem;
}
.line:nth-child(5)>.column:nth-child(2) .row
{
  height: 3.6rem;
}

/* --------------WIDTH-------------------- */
.line:nth-child(1)>.column,
.line:nth-child(2)>.column:nth-child(2),
.line:nth-child(3)>.column,
.line:nth-child(4)>.column:nth-child(2),
.line:nth-child(5)>.column
{
  width: 33.33333%;
}
.line:nth-child(2)>.column:first-child,
.line:nth-child(4)>.column:first-child
{
  width: 66.66666%;
}

/* -------------COLORS----------------- */
.light-orange
{
  background-color: var(--light-orange);
}
.green
{
  background-color: var(--green);
}
.orange
{
  background-color: var(--orange);
}
.yellow
{
  background-color: var(--yellow);
}
.strong-orange
{
  background-color: var(--strong-orange);
}
.violet
{
  background-color: var(--violet);
}