.calculator {
  padding: 10px 5px 10px 5px;
  width: 180px;
  border: 1px solid rgb(91, 152, 186);
  border-radius: 10px;
  background-color: rgba(235, 235, 234, 1);
  display: flex;
  flex-direction: column;
}
.input-wrapper {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 160px;
  border: 1px solid rgb(214, 214, 215);
  border-radius: 3px;
  background-color: white;
  overflow-x: scroll;
}
.input-wrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.input-string {
  font-size: 20px;
  outline: none;
  border: 0 solid black;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: space-between;
  row-gap: 15px;
  column-gap: 10px;
}
.button-wrapper {
  width: 35px;
  height: 35px;
  display: flex;
}
.calc-button {
  margin-left: auto;
  margin-right: auto;
}
