/* homework7-8 */
body{font-family: 'League Gothic', arial;}
ul{list-style: none;}

:root{
  
}

.header,.slider-viewport,.slider-pager, .about-content
{
  box-sizing: border-box;
  max-width: 960px;
  margin: 0 auto;
  border:1px solid red;
}

/* -----header and slider----- */
.header{padding: 68px 0 156px 0;}
.header-and-slider{
  background-color: #D7D3D4;
  background-image: url(./img/Background.jpg);
  background-repeat: no-repeat;
  background-position:top;
}
.header{
  display: flex;
  justify-content: space-between;
}
.logo{
  font-size: 48px;
}
.text-start{
  color:white;
  text-shadow:0 2px 2px rgba(0,0,0,0.3);
}
.text-end{
  color: rgba(50,37,57,1);
  background: linear-gradient(0deg, rgba(50,37,57,1)0%, rgba(116,80,131,1)100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-menu{
  display: flex;
  gap:35px
}
.header-menu-button{
  color:white;
  font-size: 24px;
  text-transform: uppercase;
  text-shadow: 0 2px 2px rgba(0,0,0,0.4);
  border-bottom: 1px solid rgba(0,0,0,0);
}
.header-menu-button:hover{
  border-bottom: 1px solid #edbfff;
  cursor: pointer;
}
.slider-overlay{
  min-height: 400px;
  margin-bottom: 90px;
  background-color: rgba(0,0,0,0.2);
  display: flex;
}
@media (max-width:815px){
  .slider-overlay{margin-bottom: 30px;}
}
.slider-viewport{
  overflow-x: clip;
}
.slider-gap{
  width: 10%;
}
.slider-button{
  font-size: 40px;
  padding-top: 150px;
  color: white;
  text-shadow:0 2px 5px rgba(255,255,255,0.7);
  cursor: pointer;
}
.btn-left{padding-right:5px;}
.btn-right{padding-left:5px;}
.carousel{
  display: flex;
  position: relative;
  right: 0;
  transition: right 2s;
}
.slider{
  position: relative;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:50px;
}
.slider-text-wrapper{
  text-shadow:0 2px 2px rgba(0,0,0,0.3);
  display: flex; flex-direction: column;
}
.slider-heading{
  color:white;
  font-size: 60px;
  text-transform: capitalize;
  margin: 0;
}
.slider-subheading{
  color:#edbfff;
  font-size: 32px;
  text-transform: uppercase;
  margin: 0;
}
.slider-text{
  color:white;
  font-family: Myriad Pro, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  margin: 0;
}
.slider-img{
  margin-top: -35px;
  padding-right: 76px;
}
.slider-pager{ 
  display: flex;
  justify-content: flex-end;
  padding:0 130px 62px 0;

}
.slider-pager-radio{display: none;}
.slider-pager label::before{
  background-color: rgba(0,0,0,0.3);
  border-radius: 50%;
  content: "";
  display: inline-block;
  width: 18px;height: 18px;
  margin-right: 7px;
  cursor: pointer;
}
.slider-pager-radio:checked+label:before{
  background-color: rgba(255,255,255,0.7);
  border:4px solid rgba(0,0,0,0.3);
  border-radius: 50%;
  box-sizing: border-box;
  content: "";
  display: inline-block;
  width: 18px;height: 18px;
}

.about{
  display: flex;
  min-height: 340px;
  color: white;
  text-shadow:0 1px 1px rgba(0,0,0,0.9);
  background: linear-gradient(0deg, rgba(50,37,57,1) 0%, rgba(116,80,131,1) 100%);
}
.about-content{
  display: flex; flex-direction: row;
  justify-content: space-around;
  padding-inline: 1%;
}
.about-list{
  display:flex; flex-direction: row;
  align-items: center;
  padding-left: 0;
  gap:10px;
}
.about-wrapper{
  display: flex; flex-direction: column;
}
.about-wrapper-heading{
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.about-wrapper-text{
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
.about-wrapper-more{
  font-size: 18px;
  cursor: pointer;
  padding-left: 80%;
}
@media (max-width: 900px){
  .about-wrapper-more{padding-left: 75%;}
}
.about-wrapper-more:hover{text-shadow:0 2px 5px rgba(255,255,255,0.5);}