/* homework7-8 */
:root{
 --back-container-color :#F9F9F9;
 --back-footer-and-slider-color:#D7D3D4;
 --header-logo-text-start-color: white;
 --header-logo-text-end-color:rgba(50,37,57,1);
 --header-menu-button-color:white;
 --header-menu-button-border-color:#edbfff;
 --slider-overlay-color:rgba(0,0,0,0.2);
 --slider-button-color: white;
 --slider-heading-color: white;
 --slider-subheading-color:#edbfff;
 --slider-text-color: white;

 --about-color:white;

 --testimonial-back-color:white;
 --testimonial-heading-start-color:#454545;
 --testimonial-heading-end-color:#edbfff;
 --testimonial-text-color:#454545;
 --updates-layout-color:#454545;
 --updates-post-img-border-color:#407374;

 --logos-wrapper-border-color:rgba(0,0,0,0.1);

 --footer-back-color:#EBEBEB;
 --footer-comments-color:#454545;
 --logotype-end-color:#b9b9b9;
 --copyright-color:#c5c5c5;
 --footer-menu-button-color:white;
}
html,body{
  font-family: 'League Gothic', arial;
  height: 100%;
  display: flex;
  flex-direction: column;
}
ul{list-style: none;}
.container{flex-grow: 2;background-color: var(--back-container-color);}
.footer-content{flex-grow: 1;}
.header,.slider-viewport,.slider-pager, .about-content,
.content, .logos-wrapper, .footer-comments,.footer-menu-wrapper
{
  box-sizing: border-box;
  max-width: 960px;
  margin: 0 auto;
}

/* -----header and slider----- */
.header{padding: 68px 0 156px 0;}
.header-and-slider{
  background-color: var(--back-footer-and-slider-color);
  background-image: url(./img/Background.jpg);
  background-repeat: no-repeat;
  background-position:top;
  background-repeat: repeat-x;
}
.header{
  display: flex;
  justify-content: space-between;
}
.logo{font-size: 48px;}
.text-start{
  color: var(--header-logo-text-start-color);
  text-shadow:0 2px 2px rgba(0,0,0,0.3);
}
.text-end{
  color:var(--header-logo-text-end-color); 
  background: linear-gradient(0deg, rgba(50,37,57,1)0%, rgba(116,80,131,1)100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header-menu{
  display: flex;
  gap:35px
}
.header-menu-button{
  color:var(--header-menu-button-color);
  font-size: 24px;
  text-transform: uppercase;
  text-shadow: 0 2px 2px rgba(0,0,0,0.4);
  border-bottom: 1px solid rgba(0,0,0,0);
}
.header-menu-button:hover{
  border-bottom: 1px solid var(--header-menu-button-border-color);
  cursor: pointer;
}
.slider-overlay{
  min-height: 400px;
  margin-bottom: 90px;
  background-color: var(--slider-overlay-color);
  display: flex;
}
@media (max-width:815px){
  .slider-overlay{margin-bottom: 30px;}
}
.slider-viewport{overflow-x: clip;}
.slider-gap{width: 10%;}
.slider-button{
  font-size: 40px;
  padding-top: 150px;
  color: var(--slider-button-color);
  text-shadow:0 2px 5px rgba(255,255,255,0.7);
  cursor: pointer;
}
.btn-left{padding-right:5px;}
.btn-right{padding-left:5px;}
.carousel{
  display: flex;
  position: relative;
  right: 0;
  transition: right 2s;
}
.slider{
  position: relative;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:50px;
}
.slider-text-wrapper{
  text-shadow:0 2px 2px rgba(0,0,0,0.3);
  display: flex; flex-direction: column;
}
.slider-heading{
  color:var(--slider-heading-color);
  font-size: 60px;
  text-transform: capitalize;
  margin: 0;
}
.slider-subheading{
  color:var(--slider-subheading-color);
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
}
.slider-text{
  color:var(--slider-text-color);
  font-family: Myriad Pro, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}
.slider-img{
  margin-top: -35px;
  padding-right: 76px;
}
.slider-pager{ 
  display: flex;
  justify-content: flex-end;
  padding:0 130px 62px 0;
}
.slider-pager-radio{display: none;}
.slider-pager label::before{
  background-color: rgba(0,0,0,0.3);
  border-radius: 50%;
  content: "";
  display: inline-block;
  width: 18px;height: 18px;
  margin-right: 7px;
  cursor: pointer;
}
.slider-pager-radio:checked+label::before{
  background-color: rgba(255,255,255,0.7);
  border:4px solid rgba(0,0,0,0.3);
  border-radius: 50%;
  box-sizing: border-box;
  content: "";
  display: inline-block;
  width: 18px;height: 18px;
}

/* -----about----- */
.about{
  display: flex;
  min-height: 340px;
  color: var(--about-color);
  text-shadow:0 1px 1px rgba(0,0,0,0.9);
  background: linear-gradient(0deg, rgba(50,37,57,1) 0%, rgba(116,80,131,1) 100%);
  box-shadow:0 5px 15px rgba(0,0,0,0.5);
}
.about-content{
  display: flex; flex-direction: row;
  padding-inline: 1%;
}
.about-list{
  display:flex; flex-direction: row;
  justify-content: space-evenly;
  align-items:center;
  padding: 0;
  gap:10px;
}
.about-wrapper{
  display: flex; flex-direction: column;
}
.about-wrapper-heading{
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0;
  font-weight: 500;
  margin:0; padding: 5px;
}
.about-wrapper-text{
  font-size: 16px; font-weight: 500;
  font-family: 'Open Sans', sans-serif;
  margin: 0; padding: 0 10px 10px 0;
}
.about-wrapper-more{
  font-size: 18px; font-weight: 500;
  cursor: pointer;
  padding-left: 70%;
}
@media (max-width: 900px){
  .about-wrapper-more{padding-left: 55%;}
}
.about-wrapper-more:hover{text-shadow:0 2px 5px rgba(255,255,255,0.5);}
.about-wrapper-icon{
  width: 30px; height: 30px;
  position: relative;
  top: -25%;
}

/* -----content----- */
.content{
  padding: 3% 5px 1% 0;
  display: flex;
}
.testimonial-and-updates{
  display: flex;
  align-items: top;
  justify-content: space-between;
}
.testimonial-layout{margin-right: 5px;}
.testimonials-cut-wrapper{
  display:flex;
  max-width: 456px;
  overflow-x: clip;
}
.testimonials{
  max-width: 430px;
  background-color: var(--testimonial-back-color);
  box-shadow:2px 0 5px rgba(0,0,0,0.2);
  margin-left: 26px;
}
.testimonials-carousel{
  display: flex;
  position: relative;
  right: 0;
  transition: right 1s;
  gap:20%;
}
.testimonials-triangle{
  width: 0; height: 0;
  border-right: 22px solid transparent;
  border-top: 22px solid var(--testimonial-back-color);
  position: relative;
  left: 70%;
  margin-bottom: 10px;
}
.testimonial{
  display:flex;
  min-width: 100%;
}
.testimonial-img{
  margin-left: -26px;
  width: 52px; height: 52px;
}
.testimonial-img>img{border-radius: 50%;}
.testimonial-wrapper{
  display: flex; flex-direction: column;
  padding-left: 10px;
}
.testimonial-heading{
  display: flex; align-items: center;
  font-size: 30px; text-transform: uppercase;
  line-height: 0;
}
.testimonial-heading-start{
  color:var(--testimonial-heading-start-color);
  padding-right: 0.5rem;
}
.testimonial-heading-end{color:var(--testimonial-heading-end-color);}
.testimonial-text{
  font-size: 16px; font-weight: 500;
  font-family: 'Open Sans', sans-serif;
  margin: 0; padding: 0 10px 10px 0;
  color:var(--testimonial-text-color);
}
.testimonial-button-wrapper{
  padding-left: 20%;
  display: flex; 
  align-items: center;
}
.testimonial-button{display: none;}
.testimonial-button-wrapper .testimonial-label::before{
  content: "";
  display: inline-block;
  width: 18px; height: 18px;
  border:1px solid rgba(0,0,0,0.3);
  border-radius: 50%;
  margin-right: 7px;
  cursor: pointer;
}
.testimonial-button:checked+.testimonial-label::before{
  content: "";
  display: inline-block;
  width: 20px; height: 20px;
  border:1px solid rgba(0,0,0,0.3);
  border-radius: 50%;
}
.testimonial-button:checked+.testimonial-label::after{
  content: "";
  display: inline-block;
  width: 12px; height: 12px;
  border:1px solid rgba(0,0,0,0.3);
  background-color: rgba(0,0,0,0.5);
  border-radius: 50%;
  position: relative; left:-25px; top:-4px;
  margin-right: -16px;
}
.updates-layout{
  padding:5px 0 0 10px;
  color:var(--updates-layout-color);
}
.updates-heading{
  font-size: 30px; text-transform: uppercase;
  margin: 0;
}
.updates-posts{padding: 0;}
.updates-post{
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  padding-bottom: 10px
}
.updates-post-img{
  height: 52px; width: 52px;
  border-radius: 50%;
  border: 1px solid var(--updates-post-img-border-color);
  margin-right: 10px;
}
.updates-post-text-heading{
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}
.updates-post-text-date{
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}
.updates-more{
  font-size: 18px;
  text-transform: uppercase;
  float: right;
  cursor: pointer;
}
.updates-more:hover{text-shadow: 2px 0 2px rgba(0,0,0,0.3);}
.logos{
  border-top: 1px solid var(--logos-wrapper-border-color);
  border-bottom: 1px solid var(--logos-wrapper-border-color);
  box-shadow:inset 0 0  5px rgba(255,255,255,0.9);
}
.logos-wrapper{
  display: flex;
  justify-content: space-around;
  padding: 26px 5% 26px 5%;
}
.logos-img{
  width: 110px; height: 65px;
  background-image: url(./img/logos-sprite.png);
  cursor: pointer;
}
.logos-img-2{background-position: -137px 0;}
.logos-img-3{background-position: -272px 0;}
.logos-img-4{background-position: -410px 0;}
.logos-img-5{background-position: -525px 0;}
.logos-img-6{background-position: -694px 0;}

/* -----footer----- */
.footer-content{background-color: var(--footer-back-color);}
.footer-comments{
  display: flex;
  justify-content: space-between;
  align-items: top;
  gap:10px;
  padding: 5% 0 5% 0;
  color: var(--footer-comments-color);
}
.logotype-wrapper{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  min-width: 33.3333%;
}
.logotype{line-height: 1px;}
.logotype-start{
  font-size: 48px; 
  text-shadow: 0 2px 2px rgba(0,0,0,0.3);
}
.logotype-end{
  font-family: 'Myriad Pro';
  font-size: 48px;
  font-weight: 400;
  color:var(--logotype-end-color);
  text-shadow: 0 2px 2px rgba(0,0,0,0.3);
}
.logotype-img{
  opacity: 0.1;
  position: relative;
  top: -12px; left: 35px;
}
.flash-light{
  height: 2px; width: 2px;
  background-color: white;
  border-radius: 50%;
  position: relative;
  top:-52px; left:115px;
  box-shadow: 0 0 10px 10px rgba(255,255,255,0.7);
}
.copyright{
  font-family: 'Georgia';
  font-size: 16px;
  font-style: italic;
  color:var(--copyright-color);
  text-shadow: 1px 1px 0 3px rgba(0,0,0,1);
}
.logotype-text{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.comment-wrapper{
  display: flex;
  flex-direction: column;
}
.comment-heading{
  font-size: 30px;
  text-transform: uppercase;
  margin: 0;
}
.comment-text{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px; font-weight: 500;
}
.footer-menu-overlay{
  background-image: url(./img/Background.jpg);
  background-repeat: no-repeat;
  background-position:center;
  background-repeat: repeat-x;
  filter: blur(10px);
  width: 100%; height: 113px;
  position: relative;
  z-index: 1;
}
.footer-menu-overlay-border{
  box-shadow:inset 0 2px 10px 5px rgba(0,0,0,0.1);
  width: 100%; height: 113px;
  position: relative;
  z-index: 1;
  margin-top: -115px;
  background-color:rgba(0,0,0,0.3);
}
.footer-menu-wrapper{
  position: relative;
  z-index: 2;
  margin-top: -80px;
  }
.footer-menu{
  display:flex;
  justify-content: space-between;
  padding-left: 0;
  max-width: 60%;
}
.footer-menu-button{
  color:var(--footer-menu-button-color);
  font-size: 20px;
  text-transform: uppercase;
  text-shadow: 0 2px 2px rgba(0,0,0,0.4);
  border-bottom: 1px solid rgba(0,0,0,0);
  cursor: pointer;
  margin: 0;
}
.designed-by{
  display: flex;
  color:var(--footer-menu-button-color);
  font-family: 'Open Sans', sans-serif; 
  font-size: 12px;
  text-shadow: 0 2px 2px rgba(0,0,0,0.4);
  float:right;
  position: relative;
  bottom: 40px;
}
.designed-by-start{margin-right: 0.3rem;}
.designed-by-end{font-weight: bolder;}