:root
{
--container-back-color: white;
--container-shadow:rgba(0, 0, 0, 0.3);
--logo-color: #363636;
--menu-back-color: rgb(83,82,82);
--menu-back-gradient:linear-gradient(90deg, rgba(83,82,82,1) 0%, rgba(83,82,82,1) 0%, rgba(80,80,80,1) 100%);
--menu-button-color:white;
--menu-button-shadow: 2px 2px 3px black;
--menu-button-hover-back-color: #454545;
--menu-button-hover-border-color:  #828282;
--left-menu-border-color:#C7C7C7;
--left-menu-color:#656363;
--left-menu-button-hover-back-color:#F9F9F9;
--left-menu-color:#656363;
--footer-color:#303030;
--footer-back-color:#E0E0E0;
}
body
{
  height: 100vh;
  margin: 0;
  font-family: Verdana, Tahoma, sans-serif;
}
ul{list-style: none;}
img{width: 100%;}
.container
{
  box-sizing: border-box;
  max-width: 1060px;
  min-height:100%;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 45px 60px 45px;
  background-color: var(--container-back-color);
  box-shadow:0 0 5px var(--container-shadow);
}
.container-header
{
  display: flex;
  flex-direction: column;
  max-width: 966px; max-height: 120px;
  margin-bottom: 40px;
}
.logo
{ 
  max-width: 144px; max-height: 40px;
  color: var(--logo-color);
  text-align: left;
  text-indent: -5px;
  line-height: 1.5rem;
  font-size: 40px;
  margin-bottom: 38px;
}
.menu
{ 
  max-width: 966px; max-height: 40px;
  padding-left: 20px;
  background:var(--menu-back-color);
  background: var(--menu-back-gradient);
}
.menu-button
{
  box-sizing: border-box;
  display: inline-flex;  
  margin-right: 20px;
  width: 96px; height: 40px;
  align-items: center;
  justify-content: center;
  text-shadow: var(--menu-button-shadow);
  color: var(--menu-button-color);
}
.menu-button:hover
{
  cursor: pointer;
  background-color: var(--menu-button-hover-back-color);
  border-left: 2px solid var(--menu-button-hover-border-color);
  border-right: 2px solid var(--menu-button-hover-border-color);
}
.subcontainer
{
  display: flex;
  align-items: flex-start;
  max-width: 966px;
  justify-content: space-between;
}
.left-menu
{
  display: flex;
  margin: 0 20px 0 0;
  flex-direction: column;
  width: 25%;
}
.left-menu-button
{
  box-sizing: border-box;
  display: inline-flex;
  border: 1px solid var(--left-menu-border-color);
  color: var(--left-menu-color);
  height: 40px;
  margin-left: -40px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  align-items: center;
  justify-content: left;
}
.left-menu-button:hover
{
  cursor: pointer;
  background-color: var(--left-menu-button-hover-back-color);
  padding-left: 30px;
}
.content
{
  display: flex;
  flex-direction: column;
  max-width: 680px;
 }
.ware-foto
{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--left-menu-border-color);
}
.ware-text
{
  
  overflow: auto;
  color: var(--left-menu-color);
  padding: 0;
  margin: 40px 20px 0px 20px;
}

.container-footer
{  
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -57px;
}
.container-footer-gap
{
  display: block;
  box-sizing: border-box;
  width: 60px; height: 40px;
  margin:0; padding: 0;
}
.container-footer-span
{ 
  display:flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 20px;
  background-color: var(--footer-back-color);
  
}
.footer-button
{
  display: inline-flex;
  margin-right: 20px;
  height: 40px;
  align-items: center;
  justify-content: left;  
}
.footer-link
{
  color: var(--footer-color);
  text-decoration: none;
}
.footer-link:hover{text-decoration:underline}
.footer-text
{
  color: var(--footer-color);
  background-color: var(--footer-back-color);
  width: 315px; height: 40px;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: right;
  padding-right: 10px;
}