/* homework6 */
body{height: 100vh;width: 100vw;margin: 0;padding: 0;}

.main-container
{
  max-width: 912px;
  max-height: 1310px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  position: relative;
  border: 1px solid black;
}
.header
{
  max-width: 912px;
  max-height: 332px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
.header-panel
{
  display: inline-flex;
  padding: 1px 8px;
  margin-bottom: 8px;
  font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
.header-telephone
{
  max-width: 292px;
  max-height: 26px;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 28px; /*!!!!*/
  font-size: 14px;
  color:#5F686C;
}
.authorize
{
  max-width: 500px;
  max-height: 26px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgb(52,103,135);
  background: linear-gradient(-90deg, rgba(52,103,135,1) 0%, rgba(37,64,101,1) 59%, rgba(32,50,87,1) 100%);
  border-radius: 4px;
  box-shadow: 2px 2px 2px 0px rgba(34, 60, 80, 0.3);
  margin-right:20px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 11px;
}
.authorize-logo
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 26px; width: 13px;
  margin-right: 5px;
}
.authorize-logo-up
{
  width: 8px;
  height: 6px;
  background-color:white;
  border-radius: 8px;
}
.authorize-logo-down
{
  width: 13px; 
  height: 10px;
  background-color:white;
  border-radius: 13px;
}
.authorize-input
{
  max-width: 114px;max-height: 16px;
  border: 1px solid #6E7C8A;
  margin-right: 10px;
  border-radius: 3px;
}
.authorize-button, .authorize-text
{
  color:white;
  margin-right: 4px;
  text-decoration: none;
}
.authorize-button:hover{text-decoration: underline;}
.lost-parol{margin-left: 20px; color:#BDBDBD}
.navigation
{
  max-width: 76px; max-height: 22px;
  border: 1px solid #C0C6CA;
  box-shadow: 1px 1px 2px 0px rgba(34, 60, 80, 0.2);
  border-radius: 15px;
  padding-left: 8px;
}
.navigation-button
{
  height:16px; width: 16px;
  margin-right: 8px;
}
.header-menu
{
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  padding:4px 10px 4px 4px;
  border: 1px solid #0d1642;
  border-radius: 5px;
  max-height: 35px;
  margin-bottom: 8px;
  font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  box-shadow: 3px 2px 3px 0px rgba(34, 60, 80, 0.3);
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(89,95,104,1) 100%);
}
.menu-button
{
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  color:#B0BABE;
  padding-right: 12px;
  padding-left: 12px;
  max-height: 26px;
}
.menu-button:hover
{
  color:white;
  background: rgb(32,105,136);
  background: linear-gradient(-90deg, rgba(32,105,136,1) 0%, rgba(17,65,101,1) 59%, rgba(12,50,86,1) 100%);
  border-radius: 10px;
}
.basket
{
  display: flex;
  align-items:center;
  justify-content: flex-end;
  font-family: Arial, sans-serif;
  min-width: 216px;
  margin-left: 70px;
  margin-bottom: 3px;
}
.basket-img{width: 20px; height: 14px;margin-right: 5px;}
.basket-text
{
  font-size: 11px;
  color:#899094;
}
.basket-total-ware, .basket-total-cash, .basket-currency
{
  font-size: 11px;
  color: #2E568E;
  margin-left:0;
}
.basket-total-ware{margin-right: 10px;}
.basket-total-cash{margin-right: 5px;}
.total-cash{margin-right: 10px;}
/* --------------------------------find------------------------------------ */
.find-panel
{
  max-width: 912px;
  height: 136px;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
}
.find
{
  position: relative;
  box-shadow: 3px 2px 3px 0px rgba(34, 60, 80, 0.3);
  border: 1px solid #B4B4B5;
  border-radius: 15px;
  font-family: Arial, sans-serif;
  font-weight:1000;
}
.select
{
  appearance: none;
  border-top: 2px solid #929292;
  border-left: 2px solid #929292;
  border-bottom: none;border-right: none;
  overflow: hidden;
  background: url(./img/select.png) no-repeat right;
  flex-wrap: nowrap;
}
td{padding:0 2px 0 2px;}
.label
{
  text-align: left;
  line-height: 0.5;
  vertical-align: middle;
}
.label-accent, .label-text
{
  font-size: 10px;
  font-weight: 600;
}
.label-text{color: #788389;}
.label-accent{color: black;}
.find-ok
{
  text-transform: lowercase;
  font-style: italic;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  color: #284367;
  align-self: flex-end;
  position: absolute;
  bottom: 5px;
  right: 15px;
}
.find-ok:hover{text-decoration: underline;}

.by-mobile-content
{
  display: flex;
  align-items: top;
  justify-content: space-between;
}
.disc-find, .tire-find
{
  max-width: 180px;
  border-collapse: collapse;
  text-align: left;
}
.disc-find .label{width: 74px;}
.by-mobile-type, .by-mobile-model, .by-mobile-complectation{width: 104px;}
.by-mobile-year{width: 60px;}
.by-mobile
{
  width: 416px;
  padding: 0 15px 10px 15px;
  margin-right: 18px;
}
.by-mobile-header-string
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-inline: 5px;
  color:#284368;
  font-size: 10px;
  margin-bottom: 0;
}
.by-mobile-header:nth-child(2){font-size: 12px;}


.by-tire
{
  width: 192px;
  margin-right: 10px;
  padding: 0 0 0 10px;
}
.by-tire-find{border-collapse: collapse;}
.by-tire-column{text-align: left;}
.by-tire-check-text
{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',sans-serif;
  font-size: 12px;
}
.tire-season-panel
{
  display:flex;
  flex-direction: row;
  margin-left: 10px;
}
.tire-season-container
{
  display: flex;
  flex-direction: column;
  line-height: 1.1;
  margin-left: 5px;
}
.by-tire-check
{
  vertical-align: middle;
  transform: scale(0.8);
  margin: 0;
}
.by-tire-header-string, .by-disc-header-string
{
  display: flex;
  margin-left: 10px;
  color:#284368;
  font-size: 12px;
  text-transform: lowercase;
}
.by-tire-find .label{width: 42px; text-align: right;}
.by-tire-size
{
  width: 54px;
}
.by-tire-size-slash{font-size: 14px;}
.by-tire-radius{width: 46px;}
/* ------------------------------------------------------------------------ */
.by-disc
{
  width: 274px;
}
.by-disc-container
{
  display: flex;
  flex-direction: row;
}
.by-disc-panel .label{width: 87px; text-align: left;}
.by-disc-container select{width: 58px;}
.by-disc-container .by-disc-hole {width: 52px;}
.by-disc-panel{margin:0 10px 0 10px;padding: 0;}
.by-disc-panel-plus
{
  margin-top: 2px;
  line-height: 0.5;
  border-left: 2px solid #BCC4C8;
  padding: 0 0 0 10px;
}
/* ----------------------------mid-------------------------------------------- */
.mid-container
{
  display: flex;
  flex-direction: row;
}
.catalog
{
  width: 194px;
  padding-top: 5px;
}
.content
{
  width: 526px;
}
.aside-header
{
  display: flex;
  width:182px; height: 28px;
  border: 1px solid #8B959A;
  border-radius: 12px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',sans-serif;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  color:#254065;
  text-align: left; 
  align-items:center;
  line-height:1;
}
.aside-header-img
{
  width: 22px; height: 22px;
  margin-right: 5px;
}