
/* table */
table{
  border-collapse: collapse;
}
tr, td{
  width: 30%;
}
#cell{
  padding: 0px;
  line-height: 28px;  
}
#insert{
  width: 100%;
}


/* -------------COLORS----------------- */
.F8EBD6
{
  background-color: #F8EBD6;
}
.F3F6DB
{
  background-color: #F3F6DB;
}
.FBE4C3
{
  background-color: #FBE4C3;
}
.E7E4FA
{
  background-color: #E7E4FA;
}
.EFFFEF
{
  background-color: #EFFFEF;
}
.FDFADB
{
  background-color: #FDFADB;
}